---
title: Catalogo
layout: default
---
<section class="flex flex-col max-w-content gap-14">
  <img class="w-56 py-10 self-center" src="/static/images/stubs/editorial-vampira.png" alt="">
  <h1 class="uppercase text-2xl font-semibold md:text-5xl text-gray-700">Catálogo</h1>
  <div class="grid grid-cols-2 gap-1 sm:grid-cols-4 sm:gap-10 px-10">
    {% for producto in editorial.editorial %}
      <!-- Card -->
      <div class="flex flex-col justify-between gap-3">
        <!-- Image -->
        <a href="/catalogo/{{ producto.titulo | slug }}/">
          <img src="{{ producto.imagen }}" alt="">
        </a>
        <!-- Description -->
        <div class="w-3/4">
          <h1 class="text-xs font-bold border-b-2 border-white">{{ producto.titulo }}</h1>
          <h2 class="text-xs">{{ producto.autor }}</h2>
          {% if producto.instagram != "" %}
          <h2 class="text-xs">@{{ producto.instagram }}</a>
          {% endif %}
          <h2 class="text-xs font-bold text-blue-700">${{ producto.precio }}</h2>
        </div>
        <!-- Boton -->
        <a class="flex-center uppercase border-2 text-xs p-1" href="{{ producto.url }}">
          <svg class="w-4 h-4 mr-2">
            <use xlink:href="/static/sprites/solid.svg#shopping-cart"></use>
          </svg>
          Comprar
        </a>
      </div>
    {% endfor %}
  </div>
</section>
