---
layout: default
title: Inicio
---
<!-- Hero -->
<section class="flex-center bg-hero h-64 ">
  <img class="h-36" src="static/images/logo.svg" alt="">
</section>

<!-- Separador -->
<section class="py-12">
  <img class="" src="static/images/separador.svg" alt="">
</section>

<!-- Radio En Vivo -->
{% comment %}
<section class="flex-center max-w-content flex-col items-stretch p-8 gap-4">
  <div class="">
    <svg x="0" y="0" viewBox="0 0 100 30" width="100%">
      <foreignObject x="0" y="0" height="100%" width="100%">
        <h1 class="uppercase" style="line-height: normal; font-size: 14px;">Radio en vivo</h1>
        <h2 class="uppercase" style="line-height: normal; font-size: 5.4px;">Podcast // Música Indecisa // Ruido</h2>
      </foreignObject>
    </svg>
  </div>
  <div class="self-center">
    <script type="text/javascript" src="https://hosted.muses.org/mrp.js"></script>
    <script type="text/javascript">
      MRP.insert({
        'url': '#',
        'codec': 'mp3',
        'volume': 100,
        'autoplay': false,
        'jsevents': true,
        'buffering': 0,
        'title': 'Radio Vampira',
        'wmode': 'transparent',
        'skin': 'radiovoz',
        'width': 220,
        'height': 69
      });
    </script>
  </div>
  <div class="embed-responsive aspect-ratio-4/3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J---aiyznGQ"></iframe>
  </div>
</section>
{% endcomment %}

<!-- Bajate la App -->
<section class="flex-center max-w-content flex-col items-stretch p-8 gap-4">
  <div class="">
    <h1 class="uppercase text-4xl">Bajate la app</h1>
    <h2 class="text-sm">Y seguí escuchando Radio Vampira sin drama.</h2>
  </div>
  <img class="" src="static/images/app.png" alt="">
  <div class="flex justify-around">
    <img class="h-10" src="static/images/buttons/google-play.png" alt="">
    <img class="h-10" src="static/images/buttons/google-play.png" alt="">
  </div>
</section>

<!-- La Radio Que No Duerme -->
<section class="flex-center max-w-content p-8">
  <img class="" src="static/images/radio-vampira.png" alt="">
</section>

<!-- Programacion -->
<section class="flex-center max-w-content flex-col items-center p-8 gap-4">
  <h1 class="uppercase text-2xl">Programación Indecisa</h1>
  <div class="flex flex-wrap">
    {% for num in (1..8) %}
    <img class="w-1/2" src="https://via.placeholder.com/300?text=300x300" alt="">
    {% endfor %}
  </div>
</section>

<!-- Streaming -->
<section class="flex-center max-w-content flex-col items-center p-8 gap-6">
  <div class="flex-center flex-col gap-6">
    <h1 class="uppercase text-2xl">Streaming Indeciso</h1>
    <p>¿Sólo escuchas cosas en Spotify? También estamos ahí con la selección de música vampira.
      Podés encontrarlas en nuestra cuenta y lasactualizamos constantemente.</p>
    <img class="" src="static/images/playlist.png" alt="">
    <svg x="0" y="0" viewBox="0 0 100 20" width="100%">
      <foreignObject x="0" y="0" height="100%" width="100%">
        <h1 class="uppercase" style="line-height: normal; font-size: 10px;">Nuestras Playlists</h1>
        <h2 class="uppercase" style="line-height: normal; font-size: 5.6px;">Más Música de selección indecisa</h2>
      </foreignObject>
    </svg>
  </div>
  <div class="flex flex-wrap px-1">
    {% for num in (1..12) %}
    <img class="w-1/3" src="https://via.placeholder.com/354x318?text=354x318" alt="">
    {% endfor %}
  </div>
  <div class="">
    <h1 class="uppercase px-5 text-white rounded-full" style="background-color: #1DB954;">Indeciso Vampiro</h1>
    <img class="h-8" src="static/images/buttons/spotify.png" alt="">
  </div>
</section>

<!-- Audiovisual -->
<section class="flex-center max-w-content flex-col items-center p-8 gap-6">
  <span class="self-end">sesiones,festivalesyclipsdevideo?</span>
  <h1 class="uppercase text-2xl self-start">Audiovisual</h1>
  <div class="bg-gray-500">
    <img class="w-48" src="static/images/sesiones-indecisas.png" alt="">
    <h1 class="uppercase text-2xl">Sesiones Indecisas</h1>
    <p>Si querés endulzar tus oídos de la mano de un ferviente set buscá Sesiones Indecisas en Youtube. Un espacio en
      dondeestamos dejando registros de ciclos musicales que filmamos y producimos fervientemente.</p>
    <div class="embed-responsive aspect-ratio-4/3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J---aiyznGQ"></iframe>
    </div>
    <h1 class="uppercase text-2xl">X-NIDAA - SESIONES INDECISAS</h1>
  </div>
  <div class="bg-gray-300">
    <img class="w-48" src="static/images/invasion-indecisa.png" alt="">
    <h1 class="uppercase text-2xl">Sesiones Indecisas</h1>
    <p>Si querés endulzar tus oídos de la mano de un ferviente set buscá Sesiones Indecisas en Youtube. Un espacio en
      dondeestamos dejando registros de ciclos musicales que filmamos y producimos fervientemente.</p>
    <img class="w-48" src="static/images/invasion-indecisa-flyer.png" alt="">
    <h1 class="uppercase text-2xl">X-NIDAA - SESIONES INDECISAS</h1>
  </div>

  <h1>ESCUCHA Y MIRA TODO EN NUESTRO CANAL DE YOUTUBE</h1>
  <div class="">
    <h1 class="uppercase px-5 text-white rounded-full" style="background-color: #1DB954;">Indeciso Vampiro</h1>
    <img class="h-8" src="static/images/buttons/spotify.png" alt="">
  </div>
</section>

<!-- Dibujo -->
<section class="flex-center max-w-content  py-12">
  <img class="w-full" src="https://via.placeholder.com/1100x220?text=DIBUJO" alt="">
</section>

<!-- Editorial -->
<section class="flex-center max-w-content">
  <img class="" src="static/images/radio-vampira.png" alt="">
</section>
