---
layout: default
title: Inicio
---
<!-- Separador -->
<section class="max-w-content px-0">
  <img class="" src="static/images/separador.svg" alt="">
</section>

<!-- Radio En Vivo -->
{% include home/0-radio-en-vivo.html %}

<!-- Bajate la App -->
{% include home/1-bajate-la-app.html %}

<!-- La Radio Que No Duerme -->
<section class="flex-center max-w-content py-10">
  <img class="w-2/3 sm:w-1/3" src="static/images/radio-vampira.svg" alt="">
</section>

<!-- Programacion -->
{% include home/2-programacion.html %}

<!-- Streaming -->
{% include home/3-streaming.html %}

<!-- Audiovisual -->
{% include home/4-audiovisual.html %}

<!-- Dibujo -->
<section class="flex-center max-w-content py-12 px-0">
  <img class="w-full" src="static/images/dibujo.png" alt="">
</section>

<!-- Editorial -->
{% include home/5-editorial.html %}
