@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Barlow Condensed';
  src: local('Barlow Condensed'), url(./static/fonts/BarlowCondensed-Regular.ttf) format('ttf');
}

html {
  scroll-behavior: smooth;
}
body {
  @apply text-white;
}
svg {
  @apply fill-current;
}
@tailwind utilities;
.x {
  @apply px-4 sm:px-16 gap-8 sm:gap-16 max-w-screen-lg mx-auto;
}

.y {
  @apply py-16 sm:py-24 gap-8 sm:gap-16 max-w-screen-lg mx-auto;
}