<footer class="py-10 mt-10 bg-black">
  <div class="justify-between px-2 flex items-center justify-center max-w-screen-lg mx-auto">
    <a href="/">
      <img class="h-12" src="/static/images/logo.png" alt="">
    </a>
    <div class="gap-3 flex items-center justify-center">
      <a href="{{ site.youtube }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprites/brands.svg#youtube"></use>
        </svg>
      </a>
      <a href="{{ site.instagram }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprites/brands.svg#instagram"></use>
        </svg>
      </a>
      <a href="{{ site.facebook }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprites/brands.svg#facebook-square"></use>
        </svg>
      </a>
      <a href="{{ site.spotify }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprites/brands.svg#spotify"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
