<!-- Mobile -->
<header class="block md:hidden border-b-2 border-white" x-data="{ isOpen: false }">
  <!-- Bar -->
  <div class="flex-center max-w-content justify-between p-2">
    <img class="h-12" src="/static/images/logo.svg" alt="" />
    <div class="flex-center gap-2">
      <a href="#">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprites/brands.svg#youtube"></use>
        </svg>
      </a>
      <a href="#">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprites/brands.svg#instagram"></use>
        </svg>
      </a>
      <button @click="isOpen = !isOpen" type="button">
        <svg class="w-8 h-8">
          <use x-show="!isOpen" xlink:href="/static/sprites/solid.svg#bars"></use>
          <use x-show="isOpen" xlink:href="/static/sprites/solid.svg#times"></use>
        </svg>
      </button>
    </div>
  </div>
  <!-- List -->
  <nav class="flex flex-col justify-between gap-3" :class="isOpen ? 'block' : 'hidden'">
    {% assign links = "musica, audiovisuales, editorial, encuentros, talleres, juegos, buscar" | split: ', ' %}
    {% for l in links %}
    <a href="{{l}}" class=" uppercase font-semibold px-2">{{ l }}</a>
    {% endfor %}
  </nav>
</header>

<!-- Desktop -->
<header class="hidden md:block border-b-2 border-white">
  <div class="max-w-content flex-center justify-between">
    <!-- Left -->
    <div class="flex-center m-2 gap-5">
      <a href="{{ site.youtube }}">
        <svg class="w-8 h-8">
          <use xlink:href="/static/sprites/brands.svg#youtube"></use>
        </svg>
      </a>
      <a href="{{ site.instagram }}">
        <svg class="w-8 h-8">
          <use xlink:href="/static/sprites/brands.svg#instagram"></use>
        </svg>
      </a>
    </div>
    <!-- Middle -->
    <nav class="flex-center justify-between gap-3">
      <!-- IDs /# -->
      {% assign links = "música, audiovisuales, editorial" | split: ', ' %}
      {% for l in links %}
      <a href="/#{{l | slug}}" class="uppercase font-semibold text-lg px-4">{{ l }}</a>
      {% endfor %}
      <!-- Pages / -->
      {% assign links = "encuentros, talleres, juegos" | split: ', ' %}
      {% for l in links %}
      <a href="/{{l | slug}}" class="uppercase font-semibold text-lg px-4">{{ l }}</a>
      {% endfor %}
    </nav>
    <!-- Right -->
    <div id="right" class="flex-center m-2 gap-5">
      <a href="/buscar">
        <svg class="w-8 h-8">
          <use xlink:href="/static/sprites/solid.svg#search"></use>
        </svg>
      </a>
    </div>
  </div>
</header>

<section class="flex-center bg-hero h-64">
  <a href="/">
    <img class="h-36" src="/static/images/stubs/logo.svg" alt="">
  </a>
</section>
