<!-- Mobile -->
<header class="sticky top-0 z-10 w-full bg-black md:hidden" x-data="{ isOpen: false }">
  <!-- Bar -->
  <div class="flex items-center justify-between max-w-screen-lg p-2 mx-auto">
    <!-- Left -->
    <a href="/">
      <img class="h-12" src="/static/images/logo.png" alt="Indeciso Vampiro">
    </a>
    <!-- Right -->
    <div class="flex items-center justify-center gap-2">
      {% for item in site.icons %}
        <a href="{{ item.href }}">
          <svg class="w-6 h-6">
            <use xlink:href="/static/sprite.svg#{{ item.icon }}"></use>
          </svg>
        </a>
      {% endfor %}
      <button @click="isOpen = !isOpen" type="button">
        <svg class="w-8 h-8">
          <use x-show="!isOpen" xlink:href="/static/sprite.svg#bars"></use>
          <use x-show="isOpen" xlink:href="/static/sprite.svg#times"></use>
        </svg>
      </button>
    </div>
  </div>
  <!-- List -->
  <nav  class="flex flex-col justify-between gap-3 px-2 pb-2"
        :class="isOpen ? 'block' : 'hidden'">
    {% for item in site.navbar %}
      <a class="text-xl font-semibold uppercase" href="{{ item.href }}">{{ item.title }}</a>
    {% endfor %}
  </nav>
</header>

<!-- Desktop -->
<header class="sticky top-0 z-10 hidden w-full bg-black border-b-2 border-white md:block">
  <!-- Bar -->
  <div class="flex items-center justify-between max-w-screen-lg mx-auto">
    <!-- Left -->
    <div class="flex items-center justify-center gap-5 m-2">
      {% for item in site.icons %}
        <a href="{{ item.href }}">
          <svg class="w-8 h-8">
            <use xlink:href="/static/sprite.svg#{{ item.icon }}"></use>
          </svg>
        </a>
      {% endfor %}
    </div>
    <!-- Middle -->
    <nav class="flex items-center justify-between gap-3">
      {% for item in site.navbar %}
        <a class="px-4 text-xl font-semibold uppercase" href="{{ item.href }}">{{ item.title }}</a>
      {% endfor %}
    </nav>
    <!-- Right -->
    <div id="right" class="flex items-center justify-center gap-5 m-2">
      <a href="/buscar">
        <svg class="w-8 h-8">
          <use xlink:href="/static/sprite.svg#search"></use>
        </svg>
      </a>
    </div>
  </div>
</header>

<!-- Hero -->
<section  class="flex items-center justify-center px-0 py-16"
          style="background-image: linear-gradient(#006fbe, #1ba9e3)">
  <a href="/">
    <img class="w-56" src="/static/images/logo.png" alt="">
  </a>
</section>