<!DOCTYPE html>
<html lang="es-AR">

  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link href="/tailwind.css" rel="stylesheet"/>
    <script src="/alpine.js" defer></script>
    {% if env.environment == "development" %}
    <link href="/static/debug.css"rel="stylesheet"/>
    {% endif %}
  </head>

  <body style="background-image: linear-gradient(#000000, #00355A);">
    {% include _header.html %}
    {{ content }}
    {% include _footer.html %}
    
    <!-- Fitty -->
    <script src="/fitty.js"></script>
    <script>fitty('.fit');</script>
    <!-- Netlify Identity -->
    {% if path == "home" %}
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>

</html>