<!DOCTYPE html>
<html lang="es-AR">

<head>
  <title>{{ title }} - {{ site.title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
  <link rel="stylesheet" href="tailwind.css" />
  <script src="alpine.js" defer></script>
  <!--<script src="debug.js" defer></script>-->
  <style>
    *:not(path):not(g):not(section) {
      outline: solid 1px #4AF626 !important;
    }

    section {
      outline: dashed 1px red !important;
    }
  </style>
</head>

<body class="debug-screens">
  {% include header.html %}
  {{ content }}
</body>

</html>
