<!DOCTYPE html>
<html lang="es-AR">

<head>
  <title>{{ title }} - {{ site.title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/tailwind.css" />
  <script src="/alpine.js" defer></script>
  <!--<script src="debug.js" defer></script>-->
  <style>
    *:not(path):not(g):not(section) {
      outline: solid 0px #4AF626 !important;
    }

    section {
      outline: dashed 0px red !important;
    }
  </style>
</head>

<body class="debug-screens">
  {% include shared/header.html %}
  {{ content }}
  {% include shared/footer.html %}
</body>

</html>
