<header class="sticky top-0 bg-gray-900 sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3"
  x-data="{ isOpen: false }">
  <div class="flex items-center justify-between px-4 py-3 sm:p-0 border-b-2 border-gray-100">
    <div>
      <img class="h-8" src="static/images/logo.svg" alt="Workcation">
    </div>
    <div class="sm:hidden">
      <button @click="isOpen = !isOpen" type="button"
        class="block text-gray-500 hover:text-white focus:outline-none focus:text-white"
        :class="{ 'transition transform-180': isOpen }">
        <svg class="h-6 w-6 fill-current">
          <use x-show="!isOpen" xlink:href="static/sprites/solid.svg#bars"></use>
          <use x-show="isOpen" xlink:href="static/sprites/solid.svg#times"></use>
        </svg>
      </button>
    </div>
  </div>
  <nav :class="isOpen ? 'flex flex-col' : 'hidden'" class="px-2 pt-2 pb-4 sm:flex sm:p-0">
    <a href="#" class="block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800">Uno</a>
    <a href="#" class="mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2">Dos</a>
    <a href="#" class="mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2">Tres</a>
    <a href="#" class="block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800">Cuatro</a>
    <a href="#"
      class="mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2">Cinco</a>
    <a href="#" class="mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2">Seis</a>
  </nav>
</header>
