---
layout: default
---
<section class="flex-center max-w-content py-10">
  <img class="w-2/3 sm:w-1/3" src="/static/images/radio-vampira.svg" alt="">
</section>
<section class="flex-center max-w-content gap-14">
  <!-- Imagen -->
  <img class="w-1/3 flex-shrink-0" src="/static/images/stubs/programa.png" alt="">
  <!-- Descripcion -->
  <div class="flex-grow flex flex-col justify-between">
    <div>
      <!-- Header -->
      <div class="border-b-2 border-blue-900">
        <h2>Martes 23:00</h2>
        <h1>Ruido en el Sótano</h1>
        <h3>#MUSICA #PUNK</h3>
      </div>
      <!-- Paragraph-->
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
        vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
        iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      </p>
    </div>
    <div class="flex justify-between">
      <div>
        <p>Musicalización: Ramón Valdéz</p>
        <p>Contacto: RamonValdez@gmail.com</p>
      </div>
      <div>
        <p class="text-right">Compartir</p>
        <div class="flex">
          <a href="#">
            <svg class="w-6 h-6">
              <use xlink:href="/static/sprites/brands.svg#instagram"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="w-6 h-6">
              <use xlink:href="/static/sprites/brands.svg#spotify"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="w-6 h-6">
              <use xlink:href="/static/sprites/brands.svg#twitter"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="w-6 h-6">
              <use xlink:href="/static/sprites/brands.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="flex flex-col max-w-content gap-8">
  <h1 class="uppercase text-4xl font-bold border-b-2 border-blue-900">Programas Pasados</h1>
  <div class="border-2 border-white rounded-3xl w-full">
    <div class="h-44 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12"></div>
  </div>
</section>
