<section
  class="flex-center max-w-content flex-col gap-12 sm:grid sm:grid-cols-2 sm:grid-rows-2 sm:grid-flow-col">
  <div class="">
    <img class="w-full" src="static/images/stubs/radio-en-vivo.png" alt="">
  </div>
  <div class="flex-center">
    <script type="text/javascript" src="https://hosted.muses.org/mrp.js"></script>
    <script type="text/javascript">
      MRP.insert({
        'url': '#',
        'codec': 'mp3',
        'volume': 100,
        'autoplay': false,
        'jsevents': true,
        'buffering': 0,
        'title': 'Radio Vampira',
        'wmode': 'transparent',
        'skin': 'radiovoz',
        'width': 220,
        'height': 69
      });
    </script>
  </div>
  <div class="embed-responsive aspect-ratio-4/3 row-span-full">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J---aiyznGQ"></iframe>
  </div>
</section>
