<!-- Mobile -->
<section class="sm:hidden flex-center max-w-content flex-col items-center gap-8">
  <div class="">
    <h1 class="uppercase text-4xl">Bajate la app</h1>
    <h2 class="text-sm">Y seguí escuchando Radio Vampira sin drama.</h2>
  </div>
  <img class="w-9/12" src="static/images/app.png" alt="">
  <img class="h-10" src="static/images/buttons/google-play.png" alt="">
</section>
<!-- Desktop -->
<section class="hidden sm:block bg-bajate-la-app py-10">
  <div class="flex items-center justify-between gap-4 max-w-content px-20">
    <div class="flex items-center gap-4">
      <img class="w-1/4" src="static/images/app.png" alt="">
      <div class="">
        <h1 class="uppercase text-3xl md:text-5xl font-semibold" style="color: #3FA9F5">Bajate la app</h1>
        <h2 class="text-base md:text-xl">Y seguí escuchando Radio Vampira sin drama.</h2>
      </div>
    </div>
    <img class="h-10" src="static/images/buttons/google-play.png" alt="">
  </div>
</section>
