<!-- Radio en Vivo -->
<section id="musica" class="x y grid grid-cols-1 sm:grid-cols-2 items-center justify-around">
  <!-- Logo -->
  <div class="flex items-center justify-center sm:col-span-2">
    <img class="sm:hidden" src="/static/images/radio-vampira.png" alt="">
    <img class="hidden sm:block" src="/static/images/radio-vampira.svg" alt="">
  </div>
  <!-- Title -->
  <div class="w-full my-16">
    <h1 class="fit font-bold leading-4">RADIO EN VIVO</h1>
    <h2 class="fit text-blue-500">PODCAST // MÚSICA INDECISA // RUIDO</h2>
  </div>
  <!-- Widget -->
  <div class="flex items-center justify-center">
    {% include home/_radio-widget.html %}
  </div>
</section>

<!-- Bajate la App -->
<section class=""
  style="background: linear-gradient(to bottom, transparent 0%, transparent 40%, #0E4056 40%, #0E4056 60%, transparent 60%);">
  <div class="x y flex flex-col items-center justify-center sm:flex-row sm:py-16">
    <!-- Titulo -->
    <div class="w-full sm:order-2">
      <div class="w-4/5">
        <h1 class="fit font-bold leading-4 text-blue-500">BAJATE LA APP</h1>
      </div>
      <h2 class="fit">Y seguí escuchando Radio Vampira en todas partes.</h2>
    </div>
    <!-- Imagen -->
    <img class="w-52 sm:order-1" src="/static/images/app.png" alt="">
    <!-- Boton -->
    <a class="flex items-center justify-center w-2/3 sm:order-3" href="{{ site.google-play }}">
      <img class="w-48" src="/static/images/btn-google-play.png" alt="">
    </a>
  </div>
</section>

<!-- Programacion -->
<section class="x y flex flex-col">
  <h1 class="text-3xl font-semibold text-gray-700 uppercase md:text-5xl">Programación Indecisa</h1>
  <div class="grid grid-cols-2 gap-1 sm:grid-cols-4 sm:gap-4">
    {% for programa in programacion.programacion %}
    <a href="/programas/{{ programa.titulo | slug }}/">
      <img src="{{ programa.imagen }}" alt="{{ programa.titulo }}">
    </a>
    {% endfor %}
  </div>
</section>

<!-- Separador -->
<div class="px-20 m-auto border-t-2" style="max-width: calc(1024px - 5rem * 2); border-color: #1DB954;"></div>

<!-- Streaming -->
<section class="y flex flex-col items-stretch justify-center">
  <!-- Wrapper -->
  <div class="x flex flex-col">
    <!-- Desktop -->
    <div class="items-stretch justify-around hidden gap-16 sm:flex">
      <!-- Widget Playlist -->
      <div class="flex items-center justify-center">
        <iframe src="https://open.spotify.com/embed/playlist/1iSMIpcONhHVZN0DTmS2kV" width="300" height="315"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>

      <!-- Descripcion -->
      <div class="flex flex-col justify-around">
        <!-- Top -->
        <div class="flex flex-col">
          <h1 class="text-2xl font-semibold text-gray-700 uppercase md:text-5xl">Streaming Indeciso</h1>
          <p class="px-8 text-lg">¿Sólo escuchas cosas en Spotify? También estamos ahí con la selección de música
            vampira. Podés encontrarlas en nuestra cuenta y las actualizamos constantemente.</p>
        </div>
        <!-- Title -->
        <div class="flex items-center justify-center mx-8">
          <div class="w-full">
            <h1 class="fit font-bold leading-4">NUESTRASPLAYLISTS</h1>
            <h2 class="fit text-blue-500">MÁS MÚSICA DE SELECCIÓN INDECISA</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile -->
    <div class="flex flex-col items-center justify-center gap-8 sm:hidden">
      <!-- Top -->
      <div class="flex flex-col">
        <h1 class="text-3xl font-semibold text-gray-700 uppercase">Streaming Indeciso</h1>
        <p class="px-4">¿Sólo escuchas cosas en Spotify? También estamos ahí con la selección de música vampira.
          Podés encontrarlas en nuestra cuenta y las actualizamos constantemente.</p>
      </div>
      <!-- Bottom -->
      <div class="flex items-center justify-center">
        <div class="w-full">
          <h1 class="fit font-bold leading-4">NUESTRASPLAYLISTS</h1>
          <h2 class="fit text-blue-500">MÁS MÚSICA DE SELECCIÓN INDECISA</h2>
        </div>
      </div>
    </div>
    <!-- Grid -->
    <div class="grid grid-cols-3 gap-2 sm:grid-cols-6 sm:gap-4">
      {% for p in playlists.playlists limit : 12 %}
      <a href="{{ p.url }}">
        <img src="{{ p.imagen }}" alt="{{ p.titulo }}">
      </a>
      {% endfor %}
    </div>
  </div>
  <!-- Button -->
  <div class="w-full">
    <a class="block pr-5 sm:pr-20" href="{{ site.spotify }}">
      <div class="h-12 bg-right bg-no-repeat bg-cover sm:h-16"
        style="background-image: url('/static/images/btn-spotify.png');">
      </div>
    </a>
  </div>
</section>
