<section id="audiovisuales" class="flex-center max-w-content flex-col items-center gap-20">
  <!-- Titulo -->
  <div class="flex flex-col self-stretch">
    <div class="self-end w-3/4 flex flex-col items-end border-t-2" style="border-color: #0C4967;">
      <h2 class="text-lg font-bold">sesiones<span class="text-gray-600">,</span>festivales<span
          class="text-gray-600">y</span>clips<span class="text-gray-600">de</span>video?</h2>
    </div>
    <h1 class="uppercase text-8xl font-bold self-start" style="color: #1B3545">Audiovisual</h1>
  </div>
  <!-- Sesiones Indecisas -->
  <div class="flex-center flex-col relative">
    <img class="w-36 absolute top-0" src="static/images/sesiones-indecisas.png" alt="">
    <div class="bg-sesiones-indecisas mt-16 pt-28 pb-8">
      <div class="flex justify-between gap-8 mx-8">
        <!-- Left -->
        <div class="flex flex-col justify-between">
          <div class="flex flex-col">
            <h1 class="uppercase text-4xl font-bold text-gray-500">Sesiones Indecisas</h1>
            <p class="text-right text-lg leading-6">
              Si querés endulzar tus oídos de la mano de un ferviente set buscá Sesiones Indecisas en Youtube. Un espacio
              en donde estamos dejando registros de ciclos musicales que filmamos y producimos fervientemente.
            </p>
          </div>
          <a class="flex justify-end items-center uppercase text-lg font-bold" href="https://youtu.be/b4eBSc3pBJA">
            <svg class="w-12 h-12 mr-4">
              <use xlink:href="static/sprites/brands.svg#youtube"></use>
            </svg>
            X-NIDAA - SESIONES INDECISAS
          </a>
        </div>
        <!-- Right -->
        <a class="flex-none" href="https://youtu.be/b4eBSc3pBJA">
          <img class="h-full" src="static/images/stubs/video.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <!-- Invasion Indecisa -->
  <div class="flex-center flex-col relative">
    <img class="w-60 absolute top-0" src="static/images/invasion-indecisa.png" alt="">
    <div class="bg-invasion-indecisa mt-16 pt-28 pb-8">
      <div class="flex justify-between gap-8 mx-8">
        <div class="w-7/12">
          <h1 class="uppercase text-4xl font-bold text-gray-500">Invasión Indecisa</h1>
          <p class="text-right text-lg leading-6">
            Durante el aislamiento social obligatorio presentamos los primeros encuentros de Invasión Indecisa. Un
            festival online que junta a varios músicos de la escena nacional en un mismo lugar. Cada uno interpretando
            sus canciones en un contexto hogareño con la posibilidad de verlo en vivo de manera virtual. Suprimiendo las
            barreras geográficas que surgen a la hora de escuchar en directo a nuestros músicos favoritos. El acceso al
            festival es gratuito, con la posibilidad de realizar donaciones indecisas a los músicos.
          </p>
          <a class="flex justify-end items-center uppercase text-lg font-bold mt-8" href="https://youtu.be/9ea9nbti7JM">
            <svg class="w-12 h-12 mr-4">
              <use xlink:href="static/sprites/brands.svg#youtube"></use>
            </svg>Invasión Indecisa #FestivalADistancia
          </a>
        </div>
        <a href="https://youtu.be/9ea9nbti7JM">
          <img class="w-72" src="static/images/invasion-indecisa-flyer.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Boton -->
<div class="max-w-content">
  <h1 class="pl-20 text-2xl">ESCUCHA Y MIRA TODO EN NUESTRO CANAL DE YOUTUBE</h1>
  <a href="{{ site.youtube }}">
    <img class="pr-20 w-full" src="static/images/stubs/youtube.png" alt="">
  </a>
</div>
<!-- Dibujo -->
<section class="flex-center max-w-content py-12 px-0">
  <img class="w-full" src="static/images/dibujo.png" alt="">
</section>
