<section id="audiovisuales" class="y flex flex-col items-center justify-center">
  <div class="x flex flex-col">
    <!-- Titulo -->
    <div class="flex flex-col self-stretch">
      <div class="flex flex-col items-end self-end w-3/4 border-t-2" style="border-color: #0C4967;">
        <h2 class="text-base font-bold sm:text-lg">sesiones<span class="text-gray-600">,</span>festivales<span
          class="text-gray-600">y</span>clips<span class="text-gray-600">de</span>video?</h2>
      </div>
      <h1 class="self-start text-4xl font-bold uppercase sm:text-8xl" style="color: #EDEDED">Audiovisual</h1>
    </div>
    <!-- Sesiones Indecisas -->
    <div class="relative flex flex-col items-center justify-center">
      <!-- Logo -->
      <img class="absolute top-0 w-36" src="/static/images/sesiones-indecisas.png" alt="">
      <!-- Background -->
      <div class="pb-8 mt-16 bg-center bg-no-repeat bg-cover pt-28" style="background-image: url('/static/images/backgrounds/sesiones-indecisas.png');">
        <!-- Wrapper -->
        <div class="flex justify-between gap-8 mx-5 sm:mx-8">
          <!-- Left -->
          <div class="flex flex-col justify-between gap-4 sm:gap-0">
            <!-- Title -->
            <h1 class="text-2xl font-bold text-white-500 uppercase sm:text-4xl">Sesiones Indecisas</h1>
            <!-- Description -->
            <p class="text-base text-right sm:leading-6 sm:text-lg" style="text-align: justify;">
        Si querés endulzar tus oídos de la mano de un ferviente set buscá Sesiones Indecisas en Youtube. Un espacio
        en donde estamos dejando registros de ciclos musicales que filmamos y producimos fervientemente.
      </p>
            <!-- ONLY MOBILE: Image -->
            <a class="flex-none sm:hidden" href="https://youtu.be/b4eBSc3pBJA">
              <img class="h-full" src="/static/images/video.png" alt="">
            </a>
            <!-- Link -->
            <a class="flex items-center justify-end text-sm font-bold uppercase sm:text-lg"
        href="https://youtu.be/b4eBSc3pBJA">
              <svg class="w-12 h-12 mr-4">
                <use xlink:href="/static/sprite.svg#youtube"></use>
              </svg>
        X-NIDAA - SESIONES INDECISAS
      </a>
          </div>
          <!-- ONLY DESKTOP: Right -->
          <a class="flex-none hidden sm:block" href="https://youtu.be/b4eBSc3pBJA">
            <img class="h-full" src="/static/images/video.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <!-- Invasion Indecisa -->
    <div class="relative flex-col flex items-center justify-center">
      <!-- Logo -->
      <img class="absolute top-0 w-60" src="/static/images/invasion-indecisa.png" alt="">
      <!-- Background -->
      <div class="pb-8 mt-16 bg-center bg-no-repeat bg-cover pt-28 " style="background-image: url('/static/images/backgrounds/invasion-indecisa.png');">
        <!-- Wrapper -->
        <div class="flex gap-8 mx-5 sm:mx-8">
          <!-- Left -->
          <div class="flex flex-col justify-between gap-4 sm:gap-0">
            <!-- Title -->
            <h1 class="text-2xl font-bold text-white-500 uppercase sm:text-4xl">Invasión Indecisa</h1>
            <!-- Description -->
            <p class="text-base text-right sm:leading-6 sm:text-lg" style="text-align: justify; color: #EDEDED" >
          Durante el aislamiento social obligatorio presentamos los primeros encuentros de Invasión Indecisa. Un
          festival online que junta a varios músicos de la escena nacional en un mismo lugar. Cada uno interpretando
          sus canciones en un contexto hogareño con la posibilidad de verlo en vivo de manera virtual. Suprimiendo las
          barreras geográficas que surgen a la hora de escuchar en directo a nuestros músicos favoritos. El acceso al
          festival es gratuito, con la posibilidad de realizar donaciones indecisas a los músicos.
        </p>
            <!-- ONLY MOBILE: Image -->
            <a class="sm:hidden" href="https://youtu.be/b4eBSc3pBJA">
              <img src="/static/images/invasion-indecisa-flyer.png" alt="">
            </a>
            <!-- Link -->
            <a class="flex items-center justify-end text-sm font-bold uppercase sm:text-lg"
          href="https://youtu.be/9ea9nbti7JM">
              <svg class="w-12 h-12 mr-4">
                <use xlink:href="/static/sprite.svg#youtube"></use>
              </svg>
          Invasión Indecisa #FestivalADistancia
        </a>
          </div>
          <!-- ONLY DESKTOP: Right -->
          <div class="flex-none hidden sm:flex">
            <a  href="https://youtu.be/b4eBSc3pBJA">
              <img class="w-72" src="/static/images/invasion-indecisa-flyer.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Boton -->
  <div class="w-full">
    <h1 class="px-5 text-base uppercase sm:pl-20 sm:text-2xl">Escucha y mira todo en nuestro canal de Youtube</h1>
    <a class="block pr-5 sm:pr-20" href="{{ site.youtube }}">
      <div class="h-12 bg-right bg-no-repeat bg-cover sm:h-16" style="background-image: url('/static/images/stubs/youtube.png');"></div>
    </a>
  </div>
</section>
<!-- Dibujo -->
<div class="y w-full max-w-screen-lg mx-auto">
  <img class="w-full" src="/static/images/stubs/dibujo.png" alt="">
</div>