<section id="editorial" class="flex-center max-w-content flex-col items-center gap-6">
  <!-- Titulo -->
  <div class="self-end w-3/4 flex flex-col items-end border-t-2" style="border-color: #0C4967;">
    <h2 class="text-lg font-bold">fanzines<span class="text-gray-600">,</span>calcos<span
        class="text-gray-600">y</span>libritos?</h2>
  </div>
  <h1 class="uppercase text-8xl font-bold self-start" style="color: #1B3545">Editorial</h1>

  <!-- Grid -->
  <div class="flex-center bg-editorial gap-16 p-20">
    <img class="w-60" src="{{ editorial.editorial[0].imagen }}" alt="">
    <div class="flex-center flex-col gap-4">
      <div class="grid grid-cols-4 gap-4">
        {% for producto in editorial.editorial %}
          <a href="/catalogo/{{ producto.titulo | slug }}/">
            <img src="{{ producto.imagen }}" alt="">
          </a>
        {% endfor %}
      </div>
      <a class="uppercase text-4xl" href="/catalogo">Catalogo Completo</a>
    </div>
  </div>
</section>
<!-- Boton -->
<div class="max-w-content">
  <h1 class="pl-20 text-2xl">QUÉRES SER PARTE DE LA FANZINEADA COLECTIVA INDECISA?</h1>
  <a href="{{ site.email }}">
    <img class="pr-20 w-full" src="static/images/stubs/email.png" alt="">
  </a>
</div>
