<section class="flex-center max-w-content flex-col items-center gap-6">
  <!-- Titulo -->
  <div class="self-end w-3/4 flex flex-col items-end border-t-2" style="border-color: #0C4967;">
    <h2 class="text-lg font-bold">fanzines<span class="text-gray-600">,</span>calcos<span
        class="text-gray-600">y</span>libritos?</h2>
  </div>
  <h1 class="uppercase text-8xl font-bold self-start" style="color: #1B3545">Editorial</h1>
  <div class="flex-center bg-gray-300 gap-6 p-6">
    <img class="w-48" src="static/images/editorial.png" alt="">
    <div>

      <div class="grid grid-cols-4 gap-1">
        {% for num in (1..8) %}
        <img class="" src="static/images/editorial.png" alt="">
        {% endfor %}
      </div>
      <h1 class="uppercase text-2xl self-start">Catalogo Completo</h1>
    </div>
  </div>
</section>
<!-- Boton -->
<div class="max-w-content">
  <h1 class="pl-20">QUÉRES SER PARTE DE LA FANZINEADA COLECTIVA INDECISA?</h1>
  <img class="pr-20 w-full" src="static/images/stubs/button.png" alt="">
</div>
