<section class="flex-center max-w-content flex-col items-center gap-6">
  <span class="self-end">fanzines,calcosylibritos?</span>
  <h1 class="uppercase text-2xl self-start">Editorial</h1>
  <div class="flex-center bg-gray-300 gap-6 p-6">
    <img class="w-48" src="static/images/editorial.png" alt="">
    <div>

      <div class="grid grid-cols-4 gap-1">
        {% for num in (1..8) %}
        <img class="" src="static/images/editorial.png" alt="">
        {% endfor %}
      </div>
      <h1 class="uppercase text-2xl self-start">Catalogo Completo</h1>
    </div>
  </div>
</section>
